
@model dynamic
@inject MM_demo_core.Data.ApplicationDbContext db
@{
    Layout = null;
}


<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Medion</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- font awesome style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/Content/template/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700|Roboto:400,700&display=swap" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/template/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/Content/template/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
    <div class="hero_area">
        <!-- header section strats -->
          @Html.Partial("_navbar")
        <!-- end header section -->
    </div>





    <!-- health section -->

    <section class="health_section layout_padding">
        <div class="health_carousel-container">
            <h2 class="text-uppercase">
                Medicine & Health
            </h2>
            <div class="row">
                @foreach (var item2 in Model.check)
                {
                    <div class="col-md-3 col-sm-6">

                        <div class="single-shop-product">
                            <div class="product-upper">
                                <div class="img-box">
                                    <img src="~/images/@item2.ImageUrl3" style="height: 250px; width: 220px;" />
                                </div>
                            </div>

                            <div class="text" style="color:blue;font-family:'Franklin Gothic'">
                                <h3>@item2.Ename</h3>
                                <h6 class="price">
                                    <span>
                                        Rs
                                    </span>
                                    @item2.Eprize
                                </h6>
                                 <h6>Description : @item2.Edetails</h6>
                            </div>

                            <div class="product-option-shop">
                                <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                            </div>
                        </div>
                    </div>}
            </div>
            @*<div class="carousel-wrap layout_padding2">
                    <div class="owl-carousel">

                        <div class="item">

                            <div class="box">
                                @foreach (var item2 in db.drugs)
                                {
                                    <div class="btn_container">
                                        <a href="">
                                            Buy Now
                                        </a>
                                    </div>
                                    <div class="img-box">
                                        <img src="~/Images/@item2.ImageUrl3" style="height: 300px; width: 250px;" />


                                    </div>
                                    <div class="detail-box">
                                        <div class="star_container">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>

                                        </div>
                                        <div class="text">
                                            <h6>
                                                @item2.Ename
                                            </h6>
                                            <h6 class="price">
                                                <span>
                                                    Rs
                                                </span>
                                                @item2.Eprize
                                            </h6>
                                        </div>
                                    </div>
                                }
                                </div>


                        </div>

                    </div>
                </div>*@
        </div>

        <div class="d-flex justify-content-center">
            <a href="">
                See more
            </a>
        </div>
    </section>

    <!-- end health section -->
    <!-- info section -->
    <section class="info_section layout_padding2">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="info_contact">
                        <h4>
                            Contact
                        </h4>
                        <div class="box">
                            <div class="img-box">
                                <img src="~/Content/template/images/telephone-symbol-button.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h6>
                                    +91 9898505662
                                </h6>
                            </div>
                        </div>
                        <div class="box">
                            <div class="img-box">
                                <img src="~/Content/template/images/email.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h6>
                                    demoDDU@gm1il.com
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- end info section -->
    <!-- footer section -->
    <section class="container-fluid footer_section">
        <p>
            &copy; 2023 All Rights Reserved. Design by
            @*<a href="https://html.design/">Free Html Templates</a>*@
        </p>
    </section>
    <!-- footer section -->

    <script type="text/javascript" src="~/Content/template/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/Content/template/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js">
    </script>
    <script type="text/javascript">
        $(".owl-carousel").owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            navText: [],
            autoplay: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        });
    </script>
    <script type="text/javascript">
        $(".owl-2").owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            navText: [],
            autoplay: true,

            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        });
    </script>
</body>

</html>

